<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About LK2</h5>
                <p class="grey-text text-lighten-4">
                    LK2 is a simple C#/ASP.NET Core web application developed solely
                    <a href="http://blog.bobbyallen.me/2017/05/01/deploying-and-hosting-asp-net-core-applications-on-ubuntu-linux/" target="_blank" style="color: #f3f3f3;">to demonstrate how to deploy and host ASP.NET core web applications on Linux</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2017
            <a class="orange-text text-lighten-3" href="https://bobbyallen.me" target="_blank">Bobby Allen</a>
        </div>
    </div>
</footer>
